$primary   : #35BCA4
$secondary : #82F8E6
$accent    : #0D7F71
$dark      : #031515
$dark-page : #031515
$positive  : #168A66
$negative  : #C73E4D
$info      : #247BA0
$warning   : #C77D17

$generic-border-radius: 14px
$button-border-radius: 12px
